<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:async="http://www.dens.com/schema/spring-ext/async"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.dens.com/schema/spring-ext/async META-INF/spring-async.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- <bean id="receiveService" 
	name="receiveService2,receiveService3"
	autowire-candidate="default"
	class="com.dens.service.ReceiveService" init-method="initBean">
		<property name="group" value="G0"></property>
		<property name="userList">
			<list>
				<value>110</value>
				<value>111</value>
				<value>112</value>
			</list>
		</property>
	</bean> -->
	<!-- <async:processor value="123">
		<ref bean="sendService"/>
	</async:processor>
	<async:conduit>
		<value>bigTaskConduit</value>
	</async:conduit> -->
	
	<!-- <context:component-scan base-package="com.dens.service"></context:component-scan>
	<beans profile="dev">
		
	</beans> -->
</beans>
