<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:async="http://www.tl.com/schema/spring-ext/async"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.tl.com/schema/spring-ext/async http://www.tl.com/schema/spring-ext/spring-async.xsd">

	<async:processor type="send">
		<ref bean="sendService" />
	</async:processor>
	<async:processor type="receive">
		<ref bean="receiveService" />
	</async:processor>
	<async:conduit>
		<value>bigTaskConduit</value>
	</async:conduit>

	<context:component-scan base-package="com.dens.async"></context:component-scan>
</beans>
